.timeline-clip {
  position: absolute;
  background-color: #8b5cf6; /* purple-600 */
  left: var(--left);
  width: var(--width);
  height: var(--height);
  top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.875rem; /* text-sm */
  border-radius: 2px;
  overflow: hidden;
}

.timeline-clip.selected {
  border: 2px solid #facc15; /* yellow-500 */
}