.timeline-ruler {
  display: flex;
  position: relative;
  background: #222;
  height: 50px;
  align-items: flex-end;
  padding: 0 10px;
}

.timeline-marker {
  position: relative;
  margin-right: 10px; /* spacing between markers */
}

.timeline-marker-line {
  width: 2px;
  height: 20px;
  background: white;
  margin-bottom: 5px;
}

.timeline-marker-label {
  font-size: 10px;
  color: white;
  display: block;
  text-align: center;
}